* {
    margin: 0;
    padding: 0;
}

body {
    padding: 24px;
}

button,
input {
    padding: 8px 16px;
    font-size: 24px;
    display: block;
    margin-bottom: 16px;
    border-radius: 8px;
}

button {
    cursor: pointer;
}

p {
    color: #c00;
    font-size: 30px;
}
